:root {
  --azul: #0546F0;
  --amarelo: #F0C705;
  --roxo: #5B05F0;
  --shadow: rgba(0, 0, 0, 0.25);
}

.shadow{ 
    text-shadow: 2px 1px 1px var(--shadow);
    box-shadow: 6px 6px 10px var(--shadow);
}

.border-radius{
    border-radius: 7px;
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
}

nav>h2{
    display: inline;
}

nav button{
    background-color: var(--azul);
  height: fit-content;
  align-self: center;
  border-radius: 7px;
  color: var(--branco);
}

.itens-menu{
    /*margin: 20px;*/
}

#carrinho>img{
    height: 15px;
    margin-bottom: -2px;
}