:root {
  --azul: #0546F0;
  --azul-sombra: rgba(5, 70, 240, 0.9);
  --azul-palido: rgba(5, 70, 240, 0.2);
  --amarelo: #F0C705;
  --roxo: #5B05F0;
  --roxo-sombra: rgba(91, 5, 240, 0.85);
  --shadow: rgba(0, 0, 0, 0.25);
  --branco: #fff;
  --fonte: Roboto, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1;
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: var(--azul-sombra);
}

nav>h2{
    display: inline;
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 48px;
    font-weight: bold;
}

nav button{
    background-color: var(--azul);
    height: fit-content;
    align-self: center;
    border-radius: 7px;
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 24px;
    padding: 3px 10px;
}

nav > *{
    margin: 17px;
}
nav > button:last-child{
    background-color: var(--amarelo);
}

nav > button:last-child>img{
    height: 20px;
    margin-bottom: -2px;
}

#banner{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
}

#banner > img{
    width: 100%;
    position: relative;
}

#banner > img + img{
    position: absolute;
    right: 0;
    bottom: 8%;
    width: 67%;
}

#banner > div{
    position: absolute;
    bottom: 4px;
    display: block;
    background-color: var(--roxo-sombra);
    width: 80%;
    padding: 0px 10%;
}

#banner > div > p{
    margin: 30px 0% 30px 10%;
    float: left;
    font-family: var(--fonte);
    font-size: 36px;
    color: var(--branco);
    text-shadow: 2px 1px 1px var(--shadow);
}

#banner > div > button{
    float: right;
    margin: 30px 11% 30px 0%;
    padding: 5px 25px;
    font-family: var(--fonte);
    font-size: 24px;
    color: var(--branco);
    background-color: var(--azul);
}

#inicial{
    width: 80%;
    margin: 80px auto 0px auto;
}

.produto{
    width: 13%;
    float: left;
    margin: 100px 10%;
    background-color: var(--azul);
}


.produto > img{
    width: 70%;
    margin: 0px 15%;
}

.produto > div {
    background-color: var(--branco);
    height: 15%;
    display: flow-root;
}

.produto > div p{
    float: left;
    font-family: var(--fonte);
    font-size: 24px;
    margin: 10px 15px;
    text-shadow:none;
}
.produto > div > p:first-child{
    font-size: 16px;
}
.produto > div > button{
    float: right;
    margin-right: 15px;
    background-color: var(--amarelo);
}
.shadow{ 
    text-shadow: 2px 1px 1px var(--shadow);
    box-shadow: 6px 6px 10px var(--shadow);
}

#carrinho{
    width: 70%;
    margin: 0px auto 0px auto;
    position: absolute;
    top: 88px;
    left: 0%;
    right: 0%;
    background-color: var(--azul-palido);
    display: grid;
    grid-template-columns: 50% 50%;
}

#carrinho > div > div:first-child{
    font-family: var(--fonte);
    font-size: 32px;
    color: var(--branco);
    background-color: var(--azul);
    width: fit-content;
    padding: 10px 15px;
    margin: 10px 0px 10px 40px;
}

.item-carrinho{
    font-family: var(--fonte);
    font-size: 32px;
    background-color: var(--azul);
    width: fit-content;
    padding: 10px 15px;
    margin: 10px 0px 20px 40px;
    display: grid;
    grid-template-columns: 30% auto;
    width: auto;
}

.item-carrinho > div > p, .item-carrinho > div > h2{
    color: black;
    background-color: var(--branco);
    margin: 0px 0px 10px 30px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
